asgiref==3.8.1
backports.zoneinfo==0.2.1
black==24.8.0
click==8.1.7
crispy-bootstrap5==2024.10
dj-database-url==2.3.0
Django==4.2.17
django-crispy-forms==2.3
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
python-decouple==3.8
sqlparse==0.5.2
tomli==2.2.1
typing-extensions==4.12.2